.navbar-brand {
    position: relative;
}
.btn-expressmode {
    position: absolute;
    top: 7px;
    left: 180px;
    cursor: pointer;
    z-index: 9999999;
}

.expressmode-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0 0 0 / 65%);
    z-index: 99999999999999;
}

.expressmode {
    width: 100%;
    max-width: 800px;
    height: fit-content;
    max-height: 100%;
    background: #fff;
    padding: 10px;
    margin: 50px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #000;
}

.btn-customdate {
    padding: 3px 13px;
    background-color: rgba(0, 0, 0, .15);
    color: #000;
    margin-right: 10px;
    border-radius: 9999px;
    box-shadow: none!important;
    border: none;
}
.btn-customdate:hover {
    background-color: rgba(0, 0, 0, .45);
    color: #000;
    transition: all .15s ease-in-out;
}